.chat-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 36.5em;
    max-width: 100%;
}
.thisuser-message{
    margin-left: auto;
    background-color: lightgray;
    padding-right: 0.2em;
    border-radius: 10px;
    max-width: 60%;
}
.otheruser-message{
    background-color: azure;
    margin-right: auto;
    max-width: 60%;
    border-radius: 10px;
    padding-left: 0.2em;
}
.messages-list{
    overflow: scroll;
}

.chat-input-container{
    width: 98%;
    height: 4em;
}
.message-space{
    width: 83%;
    height: 100%;
}
.send-button{
    width: 13%;
    height: 100%;
}