div{
    //border: 1px solid red;
    padding: 20px;
}
*{
    scroll-behavior: auto;
}

.container-info {
    //min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-info .card1{
    display: flex;
}

.container-info .card1 p{
    height: 15em;
    width: 40em;
}


.container-info .card1 .imagenes{
    text-align: center;
}

