div{
  border: 1px solid aqua;
}

.txt-field{
  display: inline-block;
  width: auto;
}

.txt-field input {

}
.pass-field input{
  display: inline-block;
}

.boton{
  text-align: center;
}

.container-login{
  background-color: grey;
  height: 20em;
  width:45em;
}
.container-login,
.log-in,
.txt-field,
.pass-field,
.prueba,
boton{
  padding: 1em 1em 1em 1em;

}

#login-btn{
  margin:auto;
  width: 50%;
}


input[type=submit] {
  background-color: #555555;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  width: 150px;
}

 h1 {
  text-align: center;
}

.login-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.post{
  display: inline-block;
}

.academy-logo{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

