.elongated_card_container, .template_elongated_card_container{
    border: solid black;
    background-color: lightblue;
    width: auto;
    margin: 0.5em;
    padding: 0.2em;

}

.elongated_card_text, .template_elongated_card_text{
    color: black;
    display: inline-block;
    font-size: 1.5em;
}
.elongated_card_image, .template_elongated_card_image{
    width: 4em;
    height: 4em;
    display: inline-block;
    vertical-align: middle;
    margin: 1em;
    border: 0.1em solid black;
    border-radius: 3em;
}