.container_button{
    background-color: lightgray;
    border: 0.1em solid black;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
}
.text_of_button{
    text-align: center;
    width: 8em;
    margin: auto;

}