.noticias {
    background-color: #aaa;
    text-align: center;
    width: 66%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.groupOfVerticalCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#info {
    background-color: #333333;
    color: white;
    width: 100%;
    height: auto;
}
.noticias img{
    width: 100%;
}
.tarjeta_noticias{
    padding-right: 1%;
    padding-left: 1%;
}