table {
    text-align: center;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: gray;
    color: white;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightgray;
}

td {
    border: 1px solid black;
}

td:first-child {
    background-color: gray;
    color: white;
}
