.vertical_card_div{
    border: 1px solid black;
    display: inline;
    justify-content: space-evenly;
    width: 10em;
    background: #555555;
}
.vertical_card122 img{
    justify-content: center;
    align-self: center;
}