.chat_user{
    display: flex;
    flex-direction: column;
    width: 8em;
    height: 10em;
    text-align: center;

}
.chat_user img{
    width: 7em;
    height: 7em;
    border-radius: 1em;
    align-self: center;
    padding: 0.5em;
}

