.schedule {
    height: 20em;
    width: 80%;
    text-align: center;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.schedule_th, .schedule_td {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 0.2em;
}

.schedule_th {
    background-color: deepskyblue;
    color: white;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

.schedule_td {
    border: 1px solid black;
}

.schedule_td:first-child {
    background-color: lightsteelblue;
    color: white;
}
