#logo_facebook, #logo_instagram, #logo_linkedIn, #logo_twitter {
    height: 3em;
    width: 3em;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#footer_general{
    font-size: small;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9em;
    background: grey;
    color: white;
    text-align: center;
}

#footer_general .tittle_section{
    color:black;
}

#footer_general .social_media{
    display: flex;
    justify-content: center;

}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;

}