.container-user-card {
    height: 7em;
    width: 100%;
    padding-right: 0.5em;
    border: 1px black solid;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100px;
    background-color: grey;
    grid-template-areas: "image txt";

}

.txt-user-card, .image-user-card {
    display: grid;
    align-self: center;
    justify-content: center;
    margin: auto;
}

.image-user-card {
    grid-area: image;
}

.txt-user-card {
    grid-area: txt;
}

.image-user-card img{
    height: 80px;
    width: 80px;
    max-width: 100%;
    position: static;
}

.paragraph-txt-user-card img {
    height: 2vw;
    width: 2vw;
}

.paragraph-txt-user-card{
    font-size: 2em;
    align-self: center;
}



