



/*Para el userName*/
.txt-field{
    display: inline-block;
    //width: auto;
    float: right;

}


/*Para el passUser*/
.pass-field {
    display: inline-block;
}

/*Para el passRemember*/
.checkBox_div {
    float: right;
    padding-bottom: 1em;
}