/*Para el userName*/
.name_field_txt_field{
    display: inline-block;
    float: right;
}

.name_field_txt_field input:invalid {
    border: 1px solid red;
}

.name_field_txt_field input:valid {
    border: 1px solid green;
}