.container_of_group{
    background-color: lightgray;
    border-radius: 0.8em;
    border: 0.1em solid black;
    height: 3em;
    display: flex;
    justify-content: flex-end;
}
.text_of_group{
    margin: auto;
    font-size: 1.2em;
    text-align: center;
}
.arrow{
    padding-right: 0.8em;
    font-size: 1.2em;
}