.user_profile_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
    "groupElement ."
    "cards button1"
    "cards button2"
    "cards .";
}

#user_profile_button_group{
    grid-area: groupElement;
    align-self: stretch;
}

#user_profile_container_cards{
    grid-area: cards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_profile_button1{
    grid-area: button2;
    height: 50%;
}
*{
    font-family: Serif;
}


