#chat_page_body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    max-height: 10em;
    grid-template-areas:
            "header"
            "center"
            "footer";
}
#chat_page_header{
    grid-area: header;
}
#chat_page_footer{
    grid-area: footer;
}
.chat_page_center{
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    "other_user chat ."
    ". chat ."
    ". chat this_user";
}

#chat_page_this_user_zone{
    grid-area: this_user;
}
#chat_page_other_user_zone{
    grid-area: other_user;
}
#chat_page_chat{
    grid-area: chat;
    align-self: center;
}