#logoFacebook, #logoInstagram, #logoLinkedIn, #logoTwitter {
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

footer{
    background: grey;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .titulo-seccion{
    color:black;
}

footer .redes-sociales{
    display: flex;
    justify-content: center;

}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}