#home_page_body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.noticias_secundarias{
    display: flex;
    flex-direction: row;
}




