.login_container{
    background-color: grey;
    width:auto;
    height: 20em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.login_container h1{
    padding: 0.5em;
    text-align: center;
}

.login_form_container {
    display: flex;
    justify-content: space-around;
}

.login_user_name, .login_pass_user, .login_pass_remember, .login_button, .login_remember {
    padding: 0.25em;
}

.login_button {
    text-align: center;
}

.login_button input{
    width: 15em;
}

.academy-logo img{
    height: 12em;
    width: 17em;
}