.news {
    background-color: #aaa;
    text-align: center;
    width: 66%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.news_group_of_vertical_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#news_info {
    background-color: #333333;
    color: white;
    width: 100%;
    height: auto;
}
.news img{
    width: 100%;
}
.news_card{
    padding-right: 1%;
    padding-left: 1%;
}