.groupOfIconText{
    margin-left: 10em;
    margin-right: 10em;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "icon1 icon1 . icon2 icon2"
    ". icon3 icon3 icon3  .";
}
.groupOfNameField{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    ". name1 ."
    ". name2 ."
    ". name3 ."
    ". name4 .";
}
#textArea{
    margin: auto;
}
.infoText{
    margin-left: 10em;
    margin-right: 10em;
}
#iconText1{
    grid-area: icon1;
}
#iconText2{
    grid-area: icon2;
}
#iconText3{
    grid-area: icon3;
}

#nameField1{
    grid-area: name1;
}
#nameField2{
    grid-area: name2;
}
#nameField3{
    grid-area: name3;
}
#nameField4{
    grid-area: name4;
}