.contenedor{
    display: grid;
    grid-template-rows: 1fr 2em;
    grid-template-columns: 1fr;
    grid-gap: 2em;

}

.contenedor-imagen{
    justify-self: center;
    align-items: center;
}


.contenedor-botones {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5em 5em;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.contenedor img {
    max-height: 20em;
    height: auto;
    width: 70em;
}

