<link rel="stylesheet" href="./user-list.component.css">
<div class="list_page_container">
  <div class="list_table_container">
    <table class="list_table">
      <thead>
      <tr class="user-list-header">
        <th>Foto de perfil</th>
        <th class="sticky">Nombre</th>
        <th>Apellidos</th>
        <th>Rol</th>
        <th>Asignatura(s)</th>
      </tr>
      </thead>
      <tbody id="user_list_profile_picture">
      <tr *ngFor="let user of users">
        <!--Si falta un elemento de la lista no se mostrará-->

        <td><img [src]="user.image" alt="profile image"></td>
        <td>{{ user.name }}</td>
        <td>{{ user.last }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.subject }}</td>
      </tr>
      <tr *ngIf="!users || users.length==0">
        <td colspan="5">NO USERS</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="phone-view">
    <div class="user-card">
      <app-user-card></app-user-card>

    </div>
  </div>
</div>
