<link rel="stylesheet" href="schedule.component.css">
<table class="schedule">
  <tr class="schedule_tr">
    <th class="schedule_th"></th>
    <th class="schedule_th">Lunes</th>
    <th class="schedule_th">Martes</th>
    <th class="schedule_th">Miércoles</th>
    <th class="schedule_th">Jueves</th>
    <th class="schedule_th">Viernes</th>
  </tr>

</table>
<template class="fila_tabla_schedule">
  <tr><!--Fila a copiar -->
    <th class="schedule_hora"></th>
    <td class="schedule_franja1"></td>
    <td class="schedule_franja2"></td>
    <td class="schedule_franja3"></td>
    <td class="schedule_franja4"></td>
    <td class="schedule_franja5"></td>
  </tr>
</template>
