.container{
    border: solid black;
    background-color: grey;
    margin: 0.5em;
    padding: 0.2em;
}
p {
    color: black;
    display: inline-block;
    font-size: 1.5em;
}
img{
    width: 8em;
    height: 8em;
    display: inline-block;
    vertical-align: middle;
    margin: 1em;
    border: 0.1em solid black;
    border-radius: 3em;
}