.message {
    display: flex;
    max-width: 66%;
    padding: 0.3em;
}

.message-foot{
    display: flex;
    flex-direction: row;
}

.message-content {
    padding: 10px;
    flex: 1;
}

.message-timestamp {
    color: #999;
    font-size: 0.4em;
    align-self: flex-end;
}