<link rel="stylesheet" href="/../src/app/components/footer/footer.component.css">
<footer id="website-footer">
  <div class="footer-txt">
    <p>
      Si tienes preguntas o deseas obtener más información acerca de nuestros programas educativos, no dudes en ponerte en contacto con nosotros a través de nuestros
      canales de comunicación. Estamos a tu disposición para ayudarte a alcanzar tus metas académicas.
    </p>
  </div>
  <div class="footer_social_media">
    <img id="footer_logo_instagram" src="../../../assets/instagram.jpg" alt="logo instagram">
    <img id="footer_logo_linkedIn" src="../../../assets/LinkedIn.png" alt="logo linkedin">
    <img id="footer_logo_twitter" src="../../../assets/twitter.png" alt="logo twitter">
    <img id="footer_logo_facebook" src="../../../assets/facebook.png" alt="logo facebook">
  </div>
</footer>
