#user_list_profile_picture img{
  max-width: 2em;
  max-height: 2em;
}

@media only screen and (min-width: 360px) {

  .phone-view{
    display: initial;
  }

  .list_table_container{
    display: none;
  }

}
/*Our tablet 1em=16px -> 1024px=64em*/
@media only screen and (min-width: 361px) {
  .phone-view{
    display: none;
  }
  .list_table_container{
    display: initial;
  }

  #user-table th{
    background-color: skyblue;
  }
  .list_table {
    border-collapse: collapse;
    width: 100%;
  }

  .list_table th,
  .list_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .list_table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .list_table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .list_table tr:hover {
    background-color: #ddd;
  }

}

