
.dropdown {
  width: 100%;
}

.boton-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 2em;
  background-color: #e0e0e0;
  border: 1px solid black;
  border-radius: 0.5em;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  height: auto;
}

.boton-dropdown:hover {
  background-color: #ccc;
}


.dropdown img {
  width: 2em;
  height: 2em;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  margin: 0;
  padding: 0;
}

.dropdown a {
  display: block;
  padding: 10px;
  background-color: #eee;
  text-decoration: none;
  color: #333;
}

.dropdown a:hover {
  background-color: #ccc;
}

