<link rel="stylesheet" type="text/css" href="/../src/app/components/chat/chat.component.css">
<div class="chat_container">
  <ul class="chat_messages_list">
    <li class="chat_message_container"></li>
    <div class="chat_thisuser_message1">
      <app-message></app-message>
    </div>
    <li class="chat_message_container"></li>
    <div class="chat_otheruser_message1">
      <app-message></app-message>
    </div>
    <li class="chat_message_container"></li>
    <div class="chat_otheruser_message2">
      <app-message></app-message>
    </div>
    <li class="chat_message_container"></li>
    <div class="chat_thisuser_message2">
      <app-message></app-message>
    </div>
  </ul>
  <form class="chat_input_container">
    <input class="chat_message_space" type="text" placeholder="Type your message here...">
    <button class="chat_send_button" type="submit">Send</button>
  </form>
</div>
