body{

}
header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
}

main{
  margin-top: 10em;
  margin-bottom: 10em;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
}
