#icon_text_image {
  margin: 1em;
  border-radius: 4em;
  border: solid 0.1em;
  display: inline-block;
  vertical-align: middle;
  max-height: 2em;
}
#icon_text_p {
  display: inline-block;
  vertical-align: middle;
}
.icon_text_container_contact{
  display: inline-block;
}
