#website-footer{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5em;
  grid-template-areas:
        "texto"
        "imagenes";
  background-color: skyblue;
  overflow: visible;
  width: 100%;

  position: absolute;
  clear: both;
  bottom: 0;
  left: 0;
}

.footer-txt{
  grid-area: texto;
  margin: 1em;
}

.footer_social_media{
  grid-area: imagenes;
  grid-template-columns: repeat(4, 2em);
  grid-gap: 1em;
  cursor: pointer;
  margin-bottom: 2em;

}

.footer_social_media img {
  height: 25px;
  width: 25px;
}

.footer-txt, .footer_social_media{
  display: grid;
  align-self: center;
  justify-content: center;
}
