<link rel="stylesheet" href="/../src/app/components/header/header.component.css">
<header class="website_header">
  <div class="header_academy_logo">
    <a href="#">
      <img id="logoIconHeader" src="../../../assets/libros_apilados.jpg" alt="logo">
    </a>
  </div>
  <div class="header_academy_name">
    <h1>Academia Crecer Juntos</h1>
  </div>
  <div class="header_navbar">
    <ul>
      <li><a routerLink="/información">Información</a></li>
      <li><a href="../contact-page/contact-page.component.html">Contacto</a></li>
      <li><a href="#">Schedule</a></li>
      <li><a href="../../pages/mi-academia/mi-academia.component.html">Miacademia</a></li>
    </ul>
  </div>
  <div class="menu-burger" (click)="ChangeBurger()">

    <div class="header_navbar_small" *ngIf="burgerClosed">
      <img src="../../../assets/burger-close.png" alt="menu-closed">

    </div>
    <div class ="menu-burger-closed" *ngIf="!burgerClosed">
      <img src="../../../assets/closed_icon.png" alt="menu-opened">
      <ul>
        <li><a href="../information-page/information-page.component.html">Información</a></li>
        <li><a href="../contact-page/contact-page.component.html">Contacto</a></li>
        <li><a href="#">Schedule</a></li>
      </ul>
    </div>

  </div>

  <div class="header_academy_user"><a href="#">
    <img id="iconHeader" src="../../../assets/icon.png" alt="iniciar sesion"></a></div>
</header>
