.container-information-card {
  height: auto;
  width: 100%;
  padding-right: 0.5em;
  border: 1px black solid;
  background-color: lightblue;
}

.image-information-card {
  grid-area: image;
}

.txt-information-card {
  grid-area: txt;
}

.image-information-card img{
  height: 10em;
  width: 10em;
  max-width: 100%;
  min-width: 150px;
  align-self: flex-start;

}

.tittle img {
  height: 2vw;
  width: 2vw;
  align-self: center;
}

.tittle{
  font-size: 5vw;
  background-color: lightblue;
  border: none;
  height: 100%;
  width: 100%;
  padding-right: 0;
  align-self: center;
}
.visible-txt-information-card {
  padding: 0.3em;
}
/*Our phone 1em=16px -> 360px=22.5em*/
@media only screen and (max-width: 1023px) {
  .container-information-card{
    display: flex;
    flex-direction: column;
  }
  .tittle-and-image{
    display: flex;
    flex-direction: row;
  }
}
/*Our tablet 1em=16px -> 1024px=64em*/
@media only screen and (min-width: 1024px) {
  .tittle {
    display: none;
  }
  .container-information-card{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto;
    grid-template-areas: "image txt";
  }
}


