.list_page_container {
    margin: 2rem auto;
    max-width: 700px;
    max-height: 750px;
    display: grid;
    grid-template-rows: 750px;
    grid-template-columns: 750px;
    font-size: 1rem;
    line-height: 1.6em;
}

.list_table {
    border-top: solid 1px #ccc;
    border-spacing: 0;

}

.user-list-header {
    background: grey;
    color: white;
}

.list_table th, .list_table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
    padding: 0.5rem;
    text-align: center;
}

.list_table th:last-child,
.list_table td:last-child {
    border-right: 0;
}

.user-list-row {
    background: white;
}

.user-list-row img{
    height: 20px;
    width: auto;
    padding-right: 0.7em;
}

.user-list-row td {
    border-bottom: 1px solid #ccc;
}

.user-list-row .sticky {
    background: white;
}

.user-list-row:nth-child(2n){
    background: #b4b3b3;
}
.user-list-row:nth-child(2n) .sticky{
    background: #b4b3b3;
}

.user-list-row .sticky, .user-list-header .sticky {
    position: sticky;
    left: 0;
}

.list_table_container {
    max-width: 100%;
    overflow-x: scroll;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}




