.vertical_card .template_vertical_card{
    margin: 0.1em;
    width: 8em;
    height: 9em;
    background-color: darkgrey;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.vertical_card_img .template_vertical_card_img{
    max-height: 60px;
    max-width: 60px;
    width: 100%;
}
.vertical_card_academy_info .template_vertical_card_academy_info{
    padding-top: 1px;
    text-align: center;
}

/*Our phone 1em=16px -> 360px=22.5em*/
@media only screen and (min-width: 361px) {
    .parrafo {
        display: none;
    }
}
/*Our tablet 1em=16px -> 1024px=64em*/
@media only screen and (min-width: 1024px) {
    .parrafo {
        display: initial;
    }
}