.vertical_card_div{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10em;
  background: lightsteelblue;
  text-align: center;
}
.vertical_card_img{
  align-self: center;
  width: 100%;
  height: 20%;
  margin-top: 0;
  padding-top: 0;
}
