body {
  margin: 0;
  padding: 0;
}


@media only screen and (min-width: 801px) {

  .website_header {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr) 450px 1fr;
    grid-template-rows: 100px;
    background-color: skyblue;
    grid-template-areas: "logo name navbar icon";
  }


  .header_academy_logo {
    grid-area: logo;
  }

  .header_academy_name {
    grid-area: name;
  }

  .header_navbar {
    grid-area: navbar;
  }

  .header_academy_user {
    grid-area: icon;
  }

  .header_academy_logo, .header_academy_name, .header_navbar, .header_academy_user {
    display: grid;
    align-self: center;
    justify-content: center;
  }

  #logoIconHeader, #iconHeader {
    height: 50px;
    width: 50px;
  }

  .header_navbar ul, .header_navbar li {
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
  }

  .header_navbar li {
    margin: 0.5em;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
  }

  .header_navbar a {
    text-decoration: none;
    cursor: pointer;
  }

  .menu-burger{
    display: none;
  }

}
@media only screen and (max-width: 800px) {
  .website_header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: skyblue;
  }


  .header_academy_logo {
    align-self: flex-start;
    margin: auto;
  }

  .header_academy_name {
    align-self: center;
    margin: auto;
  }

  .header_navbar {
    display: none;
  }

  .header_academy_user {
    display: none;
  }

  #logoIconHeader, #iconHeader {
    height: 50px;
    width: 50px;
  }

  .line {
    width: 100%;
    margin: auto;
    height: 0.3em;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .header_navbar ul, .header_navbar li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0;
  }

  .header_navbar li {
    margin: 0.5em;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
  }

  .header_navbar a {
    text-decoration: none;
    cursor: pointer;
  }
  /*.burger {
    cursor: pointer;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 3em;
    height: 2em;
  }*/
  .menu-burger{
    cursor: pointer;
    margin: auto;
  }
  .menu-burger img{
    height: 2em;
    width: 2em;
    justify-content: center;
  }
  .menu-burger-closed ul{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

  }
}
