<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Contacto</title>
  <link rel="stylesheet" type="text/css" href="/../src/app/components/contact-page/contact-page.component.css">
  <script src="contact-page.component.ts"></script>
</head>
<body>
<div class="icon_text_container_contact">
  <h2>¿Quieres contactar con nosotros?</h2>
  <div class="contact_page_group_of_icon_text">
    <div id="contact_page_icon_text_1"><app-contact-icon-text></app-contact-icon-text></div>
    <div id="contact_page_icon_text_2"><app-contact-icon-text></app-contact-icon-text></div>
    <div id="contact_page_icon_text_3"><app-contact-icon-text></app-contact-icon-text></div>
  </div>
  <p class="contact_page_info_text">
    Bienvenido a nuestras página de contacto.
    Estamos disponibles de Lunes a Viernes de 15:00h a 20:00h.
    ¡No dudes en contactar con nosotros!
  </p>
  <div class="contact_page_group_of_name_field">
    <div id="contact_page_name_field_1"><app-name-field></app-name-field></div>
    <div id="contact_page_name_field_2"><app-name-field></app-name-field></div>
    <div id="contact_page_name_field_3"><app-name-field></app-name-field></div>
    <div id="contact_page_name_field_4"><app-name-field></app-name-field></div>
    <div class="text_area_div">
      <label for="contact_page_text_area">Pon tu comentario aquí</label>
      <textarea id="contact_page_text_area" rows="6" cols="30" required placeholder="Pon tu comentario aquí..."></textarea>
      <input id="contact-btn" type="submit" value="Enviar">
    </div>
  </div>
</div>

</body>

</html>
